html,body{
	background: url(billie_holiday/billie_holiday.png) repeat;
	font-size: 1.5vw;
}


.colorblock{
	color: #000000;
	height: relative;
	padding: 1%;
	margin: 10%;
	border-style: groove;
	border-color: #ffffff;
	border-width: .5%;
}

table{

	 margin: 5%;
}