html,body{
	background-color: #fcfffc;
}
.header{
	color: #000000;
	text-align: center;
	font: "Times New Roman", serif;

}

.infoblock{
	color: #000000;
	height: 257px;
	margin-left: 220px;
	margin-right: 10px;
	background-color: #e2d4ba;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
}

::-webkit-scrollbar{
	width: 12px;
}

.aboutblock{
	position:absolute;
	color: #000000;
	margin-top:10%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e2d4ba;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
	height: 400px;
	overflow: scroll
	

}

.sitemenubutton{
	width: 14%;
	float: left;
	margin: 2.5%;
	display: block;
	background-color: #85baa1;
	color: #fcfffc;
	text-align: center;
}


.sitemenubutton:hover {
    transform: translateY(-5px);
}

.sitemenubutton:active {
	width: 14%;
	float: left;
	margin: 2.5%;
	display: block;
	color: #fcfffc;
	text-align: center;
	background-color: #ff7066;
	transform: translateY(-3px);
}

.sitemenu{
	width: 100%;
	padding: 0px;
	margin: 0px;
	align: left;
}

.projectmenu{
	width: 25%;
	padding:0px;
	margin-top:44px;
	align:left;
}

.codefucious{
	background: url(codefucious.png);
	background-size: 100px 100pX;
}

.jukebox{
	background: url(juke.jpg);
	background-size: 100px 100pX;
}

.tbal{
	background: url(tbal.jpg);
	background-size: 100px 100pX;
}

.money{
	background: url(library.png);
	background-size: 100px 100pX;
}


.codefucious,.jukebox,.tbal,.money{
	width: 100px;
	height: 100px;
	background-color:#000000;
	display: block;
	margin: 5%;
	margin-left: 10%;
	margin-top: 10%;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
}
.codefucious:hover,.jukebox:hover,.tbal:hover,.money:hover{
	border-color: #ff7066;
	transform: translateX(5px);
}
.projectdes{
	color: #000000;
	height: 435px;
	margin-left: 20%;
	margin-top: 45px;
	overflow-y: scroll;
}

.codefucious:active{
	myfunction()
}



a {
	color: #fcfffc;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}


#name{
	color: #000000;
}
