html,body{
	background-color: #fcfffc;
}
.header{
	color: #000000;
	text-align: center;
	font: "Times New Roman", serif;

}

.infoblock{
	color: #000000;
	height: auto;
	min-height: 230px;
	margin-left: 220px;
	margin-right: 10px;
	background-color: #e2d4ba;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
	padding: 1em;
}

.perblock{
	color: #000000;
	background-color: #e2d4ba;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
	height: 300px;
	width:250px;

	overflow:hidden;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	margin: 1em;
}

.perblock img{
	max-width:200%; 
	max-height:200%
	min-width: 100%;
	min-height: 100%;
}

.photography{
	background:url('furies.jpg');
	background-size: 150px
}
.poetry{
	background:url('furies.jpg');
	background-size: 150px;
}

.aboutblock{
	position:absolute;
	color: #000000;
	margin-top:10%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #e2d4ba;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
	height: 400px;
	overflow: scroll
}

.sitemenubutton{
	width: 14%;
	float: left;
	margin: 2.5%;
	display: block;
	background-color: #85baa1;
	color: #fcfffc;
	text-align: center;
}

.sitemenubutton:hover {
    transform: translateY(-5px);
}

.sitemenubutton:active {
	width: 14%;
	float: left;
	margin: 2.5%;
	display: block;
	color: #fcfffc;
	text-align: center;
	background-color: #ff7066;
	transform: translateY(-3px);
}

.sitemenu{
	width: 100%;
	padding: 0px;
	margin: 0px;
	align: left;
}

.projectmenu{
	width: 25%;
	padding:0px;
	margin-top: 70px;
	margin-left: 2.5%;
	align:left;
}

.pic1{
	background: url("codefucious.png");
	background-size: 150px 150px;
}


.pic2{
	background: url("juke.jpg");
	background-size: 150px 150px;
}

.up{
	background: url(up-arrow.png);
	background-size: 150px 50px;
}

.down{
	background: url(down-arrow.png);
	background-size: 150px 50px;
}

.up,.down{
	width: 150px;
	height: 50px;
	display: block;
	margin: 2.5%;
	margin-left: 10%;
	margin-top: 10%;
} 

.pic1,.pic2{
	width: 150px;
	height: 150px;
	background-color:#000000;
	display: block;
	margin: 2.5%;
	margin-top: 10%;
	border-style: solid;
	border-color: #85baa1;
	border-width: 5px;
	list-style-type: none;
}
.pic2:hover,.pic1:hover,.pic1:active,.pic2:active{
	border-color: #ff7066;
	transform: translateX(5px);
}
.projectdes{
	margin-left: 200px;
	margin-top: 125px;
	margin-right: 1em;
	min-height: 310px;
	padding: 5px;
	width: auto;
	background-color: rgba(226,212,186,.3);
	opacity:1;
}
text.projectdes{
	margin-top: 50%;
}


a {
	color: #fcfffc;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}


#name{
	color: #000000;
}

form{
	margin-left:50%;;
	padding:1em;
	border: 1px;
	border-radius: 1em;
}
form div+div{
	margin-top:1em;
}
label{
	display: inline-block;
	width: 90px;
	text-align:right;
}

input, textarea{
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}
input:focus, textarea:focus{
	border-color: #000;
}

textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
}
.button{
	padding-left: 90px;
}
button{
	margin-left:.5em;
}
img.wrap{
	height:10em; 
	padding: 1em; 
	display:inline-block;
}

h1 {
	font-family: "Palatino Linotype","Book Antiqua", Palatino,serif;
	
}

p {
	font-family: "Palatino Linotype","Book Antiqua", Palatino,serif;
	
}
html{
	font-family: "Palatino Linotype","Book Antiqua", Palatino,serif;
}

